<h1 style="width: 100%; text-align: center;">Keycloak Devoxx 2019 Example</h1>
<div>
    <a routerLink="/dashboard" routerLinkActive="active">
        <button mat-stroked-button color="primary">Dashboard</button>
    </a>
    <a routerLink="/public" routerLinkActive="active">
        <button mat-stroked-button color="primary">Public</button>
    </a>
    <a routerLink="/private" routerLinkActive="active">
        <button mat-stroked-button color="primary">Private</button>
    </a>
</div>
<hr/>

<router-outlet></router-outlet>
