<h1 style="width: 100%; text-align: center;">Keycloak Devoxx 2019 Example</h1>
<div>
    <button mat-stroked-button color="primary">
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </button>
    <button mat-stroked-button color="primary">
        <a routerLink="/public" routerLinkActive="active">Public</a>
    </button>
    <button mat-stroked-button color="primary">
        <a routerLink="/private" routerLinkActive="active">Private</a>
    </button>
</div>
<hr/>

<router-outlet></router-outlet>
